// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    // max-width: 1200px;
  }

  @media (max-width: $breakpoint1200) {
    max-width: 1024px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--text-color);
  background-color: #fafafa;

  &.locked {
    overflow: hidden;
  }
}

html,
body {
  min-height: 100vh;
}

.main-page-body {
  background-color: #fafafa;
  // background-image: url('/img/main-page-bg.svg');
  // background-repeat: no-repeat;
  // background-position: inherit;

  // @media (max-width: $breakpoint768) {
  //   background-image: none;
  // }
}

.main-home {}

.main__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex-grow: 1;
  display: grid;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main-page-body {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.main-page-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;

  @media (max-width: $breakpoint1200) {
    height: calc(100% - 84px);
    bottom: 0;
  }

  @media (max-width: 768px) {
    height: 100%;
  }
}

.main-page-background__layout {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main-page-background__crop {
  clip-path: polygon(52.5% 0px, 100% 0%, 100% 100%, 42.5% 100%);
}

.main-page-background__body {
  flex: 1;
}

.main-page-background__body--top {
  background: url("/img/bg-moir.png"),
    radial-gradient(84.65% 720px at 84.2% 720px, #ffc224 0%, #fa613f 100%);
}

.main-page-background__body--bottom {
  background-color: #fafafa;
}

.main-page-background__footer--top {
  background: radial-gradient(61.34% 77.28% at 42.05% 91.98%,
      #ffc224 0%,
      #ef5d3d 100%);
  background-size: 1267px 1037px;
  background-position: 35% -200px;
}

.main-page-background__footer--bottom {
  background-color: var(--white-color);
}