// Header

.header {
  .menu__item-pic {
    img:nth-child(2) {
      display: none;
    }
  }
}

// Navbar
.nav {
  @media (max-width: $breakpoint768) {
    position: relative;
    background-color: #fff;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  column-gap: 20px;
  padding-top: 18px;

  @media (max-width: $breakpoint768) {
    align-items: center;
    padding: 6px 0;
  }
}

.logo {
  z-index: 1;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $breakpoint992) {
      img {
        max-width: 140px;
      }
    }

    @media (max-width: $breakpoint768) {
      img {
        max-width: 120px;
      }
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 8px;

  @media (max-width: $breakpoint1200) {
    column-gap: 10px;
  }

  @media (max-width: $breakpoint992) {
    column-gap: 6px;
  }

  // .menu__item

  &__item {}

  // .menu__item--searching

  &__item--searching {
    flex: 0 1 316px;
    width: 100%;
    position: relative;
    display: flex;
    margin-right: 8px;


    @media (max-width: $breakpoint992) {
      display: none;
      margin-right: 0;
      column-gap: 8px;
    }

    &__item--searching-expandable {
      flex: 0 1 316px;
      width: 100%;
      margin-right: 8px;
      display: flex;
      display: none;

      @media (max-width: $breakpoint992) {
        display: none;
        margin-right: 0;
      }
    }
  }

  // .menu__item-search

  &__item-search {
    width: 316px;
    padding: 11px 20px;
    border-top-left-radius: 61px;
    border-bottom-left-radius: 61px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border: 1px solid rgba(49, 55, 67, 0.2);
    outline: 0;

    &::placeholder {
      color: rgba(49, 55, 67, 0.5);
      font-family: var(--primary-font);
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 112.8%;
    }

    &:active,
    &:focus {
      border-color: #fa6340;
    }

    @media (max-width: $breakpoint992) {
      padding: 11px 20px 11px 40px;
      border-radius: 61px;
    }

    @media (max-width: $breakpoint1200) {
      width: 100%;
    }
  }

  // .menu__item-search-icon

  &__item-search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 14px;
    height: 14px;
    display: none;

    @media (max-width: $breakpoint992) {
      display: inline-block;
    }
  }

  // .menu__item-link

  &__item-link {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 3px;
    height: 30px;
    padding: 2px 4px;
    border-radius: 61px;
    border: 1px solid rgba(49, 55, 67, 0.2);

    white-space: nowrap;
    color: var(--text-color);
    font-size: 10px;
    font-weight: 800;
    line-height: 112.8%;

    @media (max-width: $breakpoint1200) {
      padding: 6px;
      font-size: 10px;
    }

    @media (max-width: $breakpoint992) {
      padding: 4px 10px;
      font-size: 12px;
    }
  }

  // .menu__item-pic

  &__item-pic {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 20px;
      height: 20px;
      border-radius: 100%;
    }

    @media (max-width: $breakpoint992) {
      width: 19px;
      height: 19px;

      img {
        width: 19px;
        height: 19px;
      }
    }
  }

  // .menu__item-link--list-my-business

  &__item-link--list-my-business {
    background: linear-gradient(180deg, #ffc126 0%, #fe9f10 100%), #fff;
    border-color: transparent;
    color: var(--white-color);
  }

  // .menu__item-free

  &__item-free {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    border-radius: 22px;
    background: linear-gradient(180deg, #dd4c6e 0%, #ff008a 100%);

    text-align: center;
    font-size: 8px;
    font-weight: 900;
    line-height: 112.8%;
    letter-spacing: 0.45px;
  }

  // .menu__item-link--languages

  &__item-link--languages {
    background: rgba(49, 55, 67, 0.09);
    border-color: transparent;

    .menu__item-pic {
      margin-top: -2px;
      width: 16px;
      height: 16px;
    }

    img {
      width: 16px;
      height: 16px;
    }
  }
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {
  .menu__item--searching {
    display: flex;
    align-items: stretch;
    column-gap: 16px;
    flex: 0 1 auto;
    margin-bottom: 36px;
  }

  .menu__item-search {
    border-color: var(--primary-color);
  }

  .logo {
    z-index: 23;
  }

  // .menu
  .menu {
    position: fixed;
    background: var(--white-color);
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      bottom: 0;
      height: calc(100vh - 45px);
      width: 100vw;
      padding: 30px 16px;
      flex-direction: column;
      pointer-events: all;
      justify-content: flex-start;
      align-items: flex-start;
      z-index: 22;
      overflow-y: auto;
      animation: fade 0.1s linear;
    }
  }

  // .burger
  .burger {
    display: block;
    position: relative;
    height: 8px;
    width: 32px;
    z-index: 32;
    cursor: pointer;

    &.active-burger {
      &:before {
        background: $burgerColor;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 7px;
      }

      &:after {
        background: $burgerColor;
        transform: rotate(-45deg);
        bottom: -1px;
        right: 1px;
        width: 100%;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: #313743;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      width: 80%;
      left: auto;
      right: 0;
      bottom: 0;
    }

    // span {
    //   position: absolute;
    //   top: 9px;
    //   right: 0;
    //   width: 100%;
    //   background:#313743;
    //   height: 2px;
    //   transform: scale(1);
    //   transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    // }
  }

  // .menu__item
  .menu__item {
    width: 100%;

    &:nth-child(2) {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  // .menu__link
  .menu__item-link {
    display: flex;
    align-items: center;
    column-gap: 16px;
    width: 100%;
    height: auto;
    padding: 10px 0 13px;

    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    font-weight: 600;
    line-height: 112.8%;
    font-size: 20px;
    color: var(--text-color);

    @media (max-width: 359px) {
      font-size: 18px;
    }
  }

  .menu__item-free {
    display: none;
  }

  .menu__item-pic {
    width: 30px;
    min-width: 30px;
    height: 30px;
  }

  .menu__item-pic img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }

  .menu__item-link--list-my-business {
    background: transparent;
  }
}

.header-second {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 10;

  @media (max-width: $breakpoint992) {
    position: static;
  }

  .menu__item--searching {
    display: none;

    @media (max-width: $breakpoint992) {
      display: flex;
    }
  }

  .menu__item-pic {
    img:nth-child(1) {
      display: none;
    }

    img:nth-child(2) {
      display: block;
    }

    @media (max-width: $breakpoint1200) {
      img:nth-child(1) {
        display: block;
      }

      img:nth-child(2) {
        display: none;
      }
    }
  }

  .menu__item-link {
    border-color: var(--white-color);
    color: var(--white-color);

    @media (max-width: $breakpoint1200) {
      border-bottom: 1px solid #dcdcdc;
      color: var(--text-color);
    }
  }

  .menu__item-link--list-my-business {
    background: var(--white-color);
    color: var(--text-color);

    .menu__item-pic {
      img:nth-child(1) {
        display: none;
      }

      img:nth-child(2) {
        display: none;
      }

      img:nth-child(3) {
        display: block;
      }
    }

    @media (max-width: $breakpoint1200) {
      background: -webkit-gradient(linear,
          left top,
          left bottom,
          from(#ffc126),
          to(#fe9f10)),
        #fff;
      background: -o-linear-gradient(top, #ffc126 0, #fe9f10 100%), #fff;
      background: linear-gradient(180deg, #ffc126 0, #fe9f10 100%), #fff;
      border-color: transparent;
      color: var(--white-color);
    }

    @media (max-width: $breakpoint992) {
      background: var(--white-color);
      color: var(--text-color);
    }

    @media (max-width: $breakpoint480) {
      border-color: #dcdcdc;
    }
  }

  .menu__item-free--grey {
    background: linear-gradient(180deg, #f9f9f9 0%, #d2d2d2 100%);
    color: var(--text-color);

    @media (max-width: $breakpoint1200) {
      background: #5e5e5e;
      color: var(--white-color);
    }
  }

  .menu__item-link--languages {
    background: rgba(255, 255, 255, 0.2);
  }
}

.menu__item--desktop {
  @media (max-width: $breakpoint992) {
    display: none;
  }
}

.menu__item--mob {
  display: none;

  @media (max-width: $breakpoint992) {
    display: flex;

    &:nth-child(7) {
      margin-top: 32px;
    }

    .menu__item-link {
      padding: 9px 0;
      font-size: 17px;
      font-weight: 600;
      line-height: 122.8%;
      letter-spacing: -0.34px;
    }
  }
}

.menu__item-search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;

  padding: unset;


  background-color: transparent;
  border-top-right-radius: 61px;
  border-bottom-right-radius: 61px;
  border: 1px solid rgba(49, 55, 67, 0.2);
  border-left: none;

  font-family: var(--primary-font);
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  line-height: 112.8%;
  color: var(--white-color);

  @media (max-width: $breakpoint992) {
    min-width: unset;
    background-color: var(--primary-color);
    border: none;
    border-radius: 61px;
    padding: 10px 12px;
  }
}

.menu__item-search-btn-icon {
  margin-right: 5px;

  @media (max-width: $breakpoint992) {
    display: none;
  }
}

.menu__item-search-btn-label {
  display: none;

  @media (max-width: $breakpoint992) {
    display: inline-block;
  }
}

.menu__item-link-arrow {
  display: none;

  @media (max-width: $breakpoint992) {
    display: flex;
    margin-left: auto;
  }
}

.menu__item-footer {
  display: none;
  align-items: center;
  column-gap: 20px;
  margin-top: 32px;

  @media (max-width: $breakpoint992) {
    display: flex;
  }

  @media (max-width: $breakpoint480) {
    justify-content: space-between;
    column-gap: 8px;
  }

  .footer__info-link--in {
    margin-right: auto;
  }

  .footer__info-link--telegram {
    margin-left: auto;
  }

  .menu__item-footer-link {}

  .footer__info-link {}

  .menu__item-link--languages {
    width: 70px;
    height: auto;
    column-gap: 4px;
    border-radius: 61px;
    height: 34px;
    padding: 4px 6px !important;

    .menu__item-pic {
      width: 20px;
      height: 20px;
    }

    .menu__item-pic img {
      width: 20px;
      height: 20px;
    }
  }
}