.hero {
  position: relative;
  overflow: hidden;
  padding: 223px 0 104px;


  @media (max-width: $breakpoint768) {
    padding: 90px 0 40px;
    margin-bottom: 0;
  }

  @media (max-width: $breakpoint480) {
    padding: 40px 0;
  }

  @media (max-width: 320px) {
    padding: 40px 0 40px;
  }

  // .hero__inner

  &__inner {
    // position: relative;
    display: grid;
    grid-template-columns: 440px 1fr;
    column-gap: 46px;

    @media (max-width: $breakpoint992) {
      grid-template-columns: 300px 1fr;
      column-gap: 20px;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: 1fr;
      min-height: 77vh;
    }

    @media (max-width: $breakpoint768) {
      min-height: 82vh;
    }

    @media (max-width: 370px) {
      // min-height: 90vh;
    }

    @media (max-width: 320px) {
      min-height: 78vh;
    }
  }

  // .hero__info

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 66px;

    @media (max-width: $breakpoint992) {
      row-gap: 40px;
    }

    @media (max-width: $breakpoint768) {}
  }

  // .hero__title

  &__title {
    position: relative;
    z-index: 2;
    color: var(--text-color);
    font-size: 67px;
    font-weight: 700;
    line-height: 112.8%;
    letter-spacing: -1.34px;

    @media (max-width: $breakpoint992) {
      font-size: 47px;
      letter-spacing: -0.94px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 35px;
      letter-spacing: -0.7px;
    }


    span {
      display: block;
      font-size: 67px;
      font-weight: 700;
      line-height: 112.8%;
      letter-spacing: -1.34px;
      color: var(--primary-color);

      @media (max-width: $breakpoint992) {
        font-size: 47px;
        letter-spacing: -0.94px;
      }

      @media (max-width: $breakpoint768) {
        font-size: 35px;
        letter-spacing: -0.7px;
      }
    }
  }

  // .hero__form

  &__form {
    position: relative;
    z-index: 2;

    @media (max-width: $breakpoint768) {
      margin-top: auto;
    }
  }

  // .hero__form-label

  &__form-label {
    margin-bottom: 20px;
    color: var(--text-color);
    font-size: 23px;
    font-weight: 800;
    line-height: 112.8%;

    @media (max-width: $breakpoint992) {
      font-size: 15px;
    }

    @media (max-width: $breakpoint768) {
      color: var(--white-color);
    }

  }

  // .hero__form-search

  &__form-search {
    position: relative;
    margin-bottom: 16px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 12px;
    }
  }

  // .hero__form-search-input

  &__form-search-input {
    width: 100%;
    height: 64px;
    padding: 20px 20px 20px 60px;
    border-radius: 7px;
    border: 3px solid #FB983E;
    outline: 0;
    background: #FFF;
    box-shadow: 0px 23px 39px -21px rgba(250, 120, 64, 0.50);

    font-family: var(--secondary-font);
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 112.8%;

    &::placeholder {
      color: rgba(49, 55, 67, 0.60);
      font-family: var(--primary-font);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 112.8%;

      @media (max-width: $breakpoint992) {
        font-size: 14px;
      }
    }

    @media (max-width: $breakpoint992) {
      padding: 13px 20px 13px 40px;
      height: 45px;
      font-size: 14px;
    }
  }

  // .hero__form-search-icon

  &__form-search-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    @media (max-width: $breakpoint992) {
      left: 12px;

      width: 13px;
      height: 13px;
    }
  }

  // .hero__form-search-btn

  &__form-search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 148px;
    height: 56px;
    padding: 18px 20px;
    margin-left: auto;
    border-radius: 7px;
    background-color: var(--primary-color);

    font-family: var(--secondary-font);
    color: var(--white-color);
    text-align: center;
    font-size: 19px;
    font-weight: 800;
    line-height: 112.8%;

    @media (max-width: $breakpoint992) {
      width: 100px;
      height: 40px;
      padding: 12px 14px;
      font-size: 15px;
    }


    @media (max-width: $breakpoint768) {
      margin-left: 0;
      margin-right: auto;
      border: 2px solid #fff;
      background-color: transparent;
    }
  }

  // .hero__pictures

  &__pictures {

    @media (max-width: $breakpoint768) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  // .hero__picture

  &__picture {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-30%, -50%);

    &.hero__picture--pasta {
      left: 50%;
      top: unset;
      bottom: 0;
      transform: translateX(-30%);

      @media (max-width: $breakpoint1200) {
        top: unset;
        bottom: 0;
        transform: translateX(-20%);

        img {
          max-width: 580px;
        }
      }

      @media (max-width: $breakpoint768) {
        top: 50%;

        transform: translate(-89%, -50%) rotate(60deg);

        img {
          max-width: 70vw;
        }
      }
    }

    &.hero__picture--pizza {
      left: 100%;
      top: 100%;
      transform: translate(-100%, -101%);

      @media (max-width: $breakpoint1200) {

        top: 50%;
        transform: translate(-100%, -50%);

        img {
          max-width: 580px;
        }

        @media (max-width: $breakpoint992) {
          img {
            max-width: 400px;
          }
        }
      }


      @media (max-width: $breakpoint768) {
        img {
          max-width: 100vw;
        }
      }

      @media (max-height: 680px) {
        left: 0;
        transform: translate(0, -50%);

        img {
          max-width: 300px;
          margin-right: auto;
          text-align: left;
        }
      }
    }

    &.hero__picture--salade {
      @media (max-width: $breakpoint768) {
        img {
          max-width: 280px;
        }
      }

      @media (max-width: 360px) {
        img {
          max-width: 240px;
        }
      }

      @media (max-width: 320px) {
        img {
          max-width: 180px;
        }
      }


      @media (max-height: 680px) {
        img {
          max-width: 200px;
        }
      }
    }

    &.hero__picture--burger {

      @media (max-width: $breakpoint768) {
        img {
          max-width: 360px;
        }
      }

      @media (max-width: 360px) {
        margin-top: 30px;

        img {
          max-width: 300px;
        }
      }

      @media (max-width: 320px) {
        img {
          max-width: 240px;
        }
      }

      @media (max-height: 680px) {
        img {
          max-width: 320px;
          margin-bottom: -30px;
        }
      }
    }

    &.hero__picture--steak {
      @media (max-height: 680px) {
        img {
          margin-bottom: -30px;
        }

      }
    }

    &.hero__picture--desert {
      @media (max-height: 680px) {
        img {
          margin-bottom: -30px;
        }

      }
    }

    @media (max-width: $breakpoint1200) {
      transform: translate(-30%, -50%);
    }

    @media (max-width: $breakpoint992) {
      transform: translate(-20%, -50%);
    }


    @media (max-width: $breakpoint768) {
      // position: static;
      display: flex;
      justify-content: center;
      align-items: center;
      // transform: translateX(0);
      transform: translate(-50%, -50%);
    }

    img {
      // max-width: 600px;
      // width: 100%;
      height: auto;

      @media (max-width: $breakpoint1200) {
        max-width: 400px;
      }

      @media (max-width: 360px) {
        max-width: 340px;
      }

      @media (max-width: 320px) {
        max-width: 240px;
      }

      @media (max-height: 680px) {
        max-width: 320px;
      }
    }
  }

  // .hero__uk

  &__uk {
    position: absolute;
    top: 224px;
    right: 104px;
    width: 139px;
    height: 139px;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      animation: spin-clockwise 10s infinite linear;

      @media (max-width: $breakpoint768) {
        & path {
          fill: var(--text-color);
        }
      }
    }

    img {
      transition: transform 0.2s linear;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    @media (max-width: $breakpoint1200) {
      right: 10px;
    }

    @media (max-width: $breakpoint992) {
      width: 84px;
      height: 84px;
    }

    @media (max-width: $breakpoint768) {
      top: 30%;
      width: 57px;
      height: 57px;
    }

    @media (max-width: 370px) {
      top: 10%;
    }
  }

  // .hero__uk-pic

  &__uk-pic {
    margin-top: -10px;
    margin-right: -5px;

    @media (max-width: $breakpoint992) {
      max-width: 54px;
    }

    @media (max-width: $breakpoint768) {
      max-width: 36px;
      margin-right: 0;
      margin-top: -5px;
    }
  }

  // .hero__chatbot

  &__chatbot {
    position: absolute;
    bottom: 10%;
    right: 100px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 100%;

    z-index: 1;
    cursor: pointer;
    transition: right 0.4s linear;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      background: rgba(255, 255, 255, 0.11);
      border-radius: 50%;
      z-index: -1;
      animation: grow 2s ease-in-out infinite;
    }

    &::after {
      background: rgba(255, 255, 255, 0.11);
    }

    &::before {
      background: rgba(255, 255, 255, 0.31);
      animation-delay: -0.5s;
    }

    @media (max-width: $breakpoint1200) {
      right: 10px;
    }

    // @media (max-width: $breakpoint992) {
    //   width: 77px;
    //   height: 77px;

    //   img {
    //     width: 77px;
    //     height: 77px;
    //   }
    // }

    @media (max-width: $breakpoint768) {
      right: 0;
      bottom: 10px;
      width: 50px;
      height: 47px;
      border-radius: 49px 0 0 49px;

      &::after,
      &::before {
        width: 60px;
        height: 60px;
        border-radius: 49px 0 0 49px;
      }

      img {
        width: 20px;
      }
    }
  }


}

@keyframes spin-clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  0% {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.8, 1.8);
    opacity: 0;
  }
}

.hero__chatbot {
  &.active {
    right: -10%;

    @media (max-width: $breakpoint768) {
      right: -20%;
    }
  }
}

.hero__chat {
  position: fixed;
  right: -100%;
  bottom: 10px;
  max-width: 400px;
  width: 100%;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 15px;
  z-index: 100;
  transition: right 0.6s linear;

  &.active {
    right: 10px;

    @media (max-width: $breakpoint768) {
      width: calc(100% - 20px);
      transition: right 0.4s linear;
    }
  }

  .modal-content__btn {
    margin-bottom: 0;
  }
}

.hero__chat-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  &:hover svg path {
    stroke: var(--primary-color);
  }

}