.main__body {
  min-height: 100vh;
}

.main__body.locked {
  max-height: 100vh;
  overflow: hidden;
}

.menu__item-link {
  cursor: pointer;
}

/* _modals.scss */

.input__error {
  margin: 6px 0 0;
  font-size: 12px;
  line-height: 112.8%;
  opacity: 0.4;
  color: red;
}

.modal-content__form-error {
  font-size: 14px;
  color: red;
  text-align: center;
  margin: 20px 0;
}

/* _restaurant-page.scss */

.restaurant-page__others-link {
  background-color: transparent;
  cursor: pointer;
  font-family: var(--secondary-font);
}

/* _dashboard.scss */

.restaurant__service-phone-help {
  grid-column-start: 2;
}

.restaurant__service-phone-group {
  grid-column: span 2;
  margin-top: 10px;
}

.dashboard__panels {
  display: grid;
  grid-template-columns: 1fr 292px;
  column-gap: 24px;

  @media (max-width: $breakpoint1200) {
    grid-template-columns: 1fr 170px;
  }

  @media (max-width: $breakpoint992) {
    column-gap: 16px;
  }

  @media (max-width: $breakpoint768) {
    grid-template-columns: 1fr;
  }
}

.dashboard__secondary-panel {
  display: flex;
  justify-content: flex-end;
  align-items: start;
}