.main__body {
  min-height: 100vh;
}

.menu__item-link {
  cursor: pointer;
}

/* _modals.scss */

.input__error {
  margin: 6px 0 0;
  font-size: 12px;
  line-height: 112.8%;
  opacity: 0.4;
  color: red;
}

.modal-content__form-error {
  font-size: 14px;
  color: red;
  text-align: center;
  margin: 20px 0;
}

/* _restaurant-page.scss */

.restaurant-page__others-link {
  background-color: transparent;
  cursor: pointer;
  font-family: var(--secondary-font);
}

/* _dashboard.scss */

.restaurant__service-phone-help {
  grid-column-start: 2;
}

.restaurant__service-phone-group {
  grid-column: span 2;
  margin-top: 10px;
}

.service-phone-help {
  color: #6b717d;
  font-family: Gilroy;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 135.8%; /* 14.938px */
  letter-spacing: -0.22px;
}

.service-phone-help__link {
  color: #fa6340;
  font-family: Gilroy;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 135.8%;
  letter-spacing: -0.22px;
  text-decoration-line: underline;
}

.service-phone {
  display: inline-flex;
  border-radius: 7px;
  border: 1px solid #d3d2d4;
  overflow: hidden;
}

.service-phone__phone {
  display: block;
  color: #ac0f7e;
  font-family: Gilroy;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 112.8%; /* 21.432px */
  padding: 7px 14px;
}

.service-phone__price {
  display: block;
  background-color: #ac0f7e;
  color: #fff;
  font-family: Gilroy;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 107.3%; /* 11.803px */
  letter-spacing: -0.22px;
  padding: 0 7px 0 13px;
  display: flex;
  align-items: center;
  margin: 3px;
  margin-left: 0;
  position: relative;
  clip-path: polygon(
    0px 0px,
    calc(100% - 4px) 0px,
    calc(100% - 4px) 0px,
    calc(100% - 3.351213px) 0.05235322px,
    calc(100% - 2.735744px) 0.20392256px,
    calc(100% - 2.161831px) 0.44647254px,
    calc(100% - 1.637712px) 0.77176768px,
    calc(100% - 1.171625px) 1.1715725px,
    calc(100% - 0.77180799999999px) 1.63765152px,
    calc(100% - 0.44649900000002px) 2.16176926px,
    calc(100% - 0.203936px) 2.73569024px,
    calc(100% - 0.052357000000001px) 3.35117898px,
    calc(100% - 0px) 4px,
    calc(100% - 0px) calc(100% - 4px),
    calc(100% - 0px) calc(100% - 4px),
    calc(100% - 0.052356999999986px) calc(100% - 3.3511887px),
    calc(100% - 0.20393599999998px) calc(100% - 2.7357056px),
    calc(100% - 0.446499px) calc(100% - 2.1617869px),
    calc(100% - 0.77180800000001px) calc(100% - 1.6376688px),
    calc(100% - 1.171625px) calc(100% - 1.1715875px),
    calc(100% - 1.637712px) calc(100% - 0.7717792px),
    calc(100% - 2.161831px) calc(100% - 0.4464801px),
    calc(100% - 2.735744px) calc(100% - 0.2039264px),
    calc(100% - 3.351213px) calc(100% - 0.052354299999998px),
    calc(100% - 4px) calc(100% - 0px),
    0px calc(100% - 0px),
    0px calc(50% - -6.5px),
    6.5px calc(50% - 0.5px),
    0px calc(50% - 7.5px),
    0px 0px
  );
}

.service-phone-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
