.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 960px;
  min-height: 100vh;
}

.page__content {
  flex: 1;
}

.filter {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding-top: 7px;
}

.filter__clear {
  background-color: transparent;
  border: none;
  color: lightgray;
  cursor: pointer;
  font-family: sans-serif;
  margin-left: 10px;
}

.filter__option {
  background-color: transparent;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-family: sans-serif;
  padding: 5px 10px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header__extra {
  display: flex;
  gap: 10px;
}

.header__username {
  font-family: sans-serif;
  color: gray;
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.listing-page {
  display: flex;
}

.listing-page__primary {
  flex: 1;
}

.listing-page__secondary {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.logo {
  color: #000;
  font-family: sans-serif;
  font-size: 24px;
  text-decoration: none;
}

.main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 200px;
}

.main-form__control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.main-form__label {
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.main-form__search-btn {
  display: block;
  font-size: 16px;
  margin-left: auto;
  min-width: 100px;
  padding: 10px;
}

.main-form__search-input {
  border: 1px solid lightgray;
  border-radius: 3px;
  font-family: sans-serif;
  min-width: 320px;
  padding: 10px;
}

.main-form__search-input:focus {
  border-color: orange;
  outline: 1px solid orange;
}

.position-display {
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding: 10px;
  width: 150px;
}

.position-display__label {
  display: block;
  font-family: sans-serif;
  font-size: 14px;
}

.position-display__select {
  background-color: #fff;
  border: 1px solid gray;
  font-family: sans-serif;
}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.restaurant-card {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  padding: 10px;
}

.restaurant-card__photo-container {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  box-sizing: border-box;
}

.restaurant-card__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurant-card__details {
  flex: 1;
}

.restaurant-card__row {
  display: flex;
  justify-content: space-between;
}

.restaurant-card__tag {
  background-color: #e2f3f9;
  border-radius: 5px;
  color: #03407c;
  font-family: sans-serif;
  font-size: 14px;
  padding: 5px;
}

.restaurant-card__tags {
  display: flex;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.restaurant-card__title {
  color: #000;
  display: block;
  font-family: sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  text-decoration: none;
}

/** Modal **/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal--show {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 400px;
  border-radius: 10px;
}

.modal-header {
  padding: 20px 20px 0;
  display: flex;
  justify-content: flex-end;
}

.modal-close {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
  fill: gray;
  line-height: 100%;
  width: 24px;
  height: 24px;
  display: block;
}

.modal-close:hover {
  fill: black;
}

.modal-close__icon {
  width: 24px;
  height: 24px;
}

.modal-body {
  padding: 0px 40px 40px;
}

/** Auth from **/

.auth-form__header {
  font-size: 24px;
  font-family: sans-serif;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.auth-form__error {
  color: red;
  font-family: sans-serif;
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
}

.auth-form__footer {
  border-top: 1px solid #e4e4e4;
  padding-top: 20px;
}

.auth-form__submit {
  width: 100%;
}

/** Controls **/

.control {
  display: block;
  margin-bottom: 20px;
}

.control__label {
  display: block;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-size: 13px;
  color: gray;
}

.control__error {
  color: red;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 5px;
}

.control__input {
  width: 100%;
  padding: 10px;
  font-family: sans-serif;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
}

.control__input--error {
  border: 1px solid red;
}

.control__input:focus {
  border: 1px solid darkorange;
  background-color: white;
}

.control__input:focus {
  outline: 1px solid orange;
}

.btn {
  background-color: transparent;
  border: 2px solid orange;
  border-radius: 5px;
  color: orange;
  cursor: pointer;
  font-family: sans-serif;
  min-width: 80px;
  padding: 10px;
}

.btn:hover {
  background-color: orange;
  color: #fff;
}

.btn--inverted {
  background-color: orange;
  color: #fff;
}

.btn--inverted:hover {
  background-color: transparent;
  border: 2px solid orange;
  color: orange;
}

.input-wrapper {
  width: 100%;
  position: relative;
}

.input-wrapper__btn {
  width: 44px;
  height: 100%;
  padding: 0 10px;
  border: none;
  background-color: transparent;
  fill: gray;
  cursor: pointer;
}

.input-wrapper__btn:hover {
  fill: black;
}

.input-wrapper__btn--right {
  position: absolute;
  right: 0;
  top: 0;
}

.input-wrapper__btn-icon {
  width: 18px;
  height: 18px;
}
